footer,
header,
section {
  font-family: Raleway, sans-serif;
  display: block;
  width: 100%;
}

.container {
  margin: 0 auto;
}

.randomQuotesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100%;
  background: #ff5940;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  width: 100%;
  padding: 1em;
  background: #fdc521;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    text-decoration: none;
    color: #ff5940;
  }
}

.randomQuote {
  width: 80%;
  max-width: 600px;
  background: white;
  border-radius: 5px;
  text-align: center;
  padding: 2em;
  color: #524d4c;
  position: relative;
}

.author {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .3em;
}

.getRandom {
  font-size: 1em;
  margin: 1em 0;
  color: #fdc521;
  background-color: #ff5940;
  padding: .6em;
  border: 1px solid #fdc521;

  &:hover {
    cursor: pointer;
    background-color: lighten(#ff5940, 1%);
  }
}

.btnsContainer {
  text-align: center;
  margin: 1em 0;
}

.btnAdd {
  padding: .3em;
  color: black;
  background-color: white;
  border: none;
  border-radius: 6px;

  &:hover {
    cursor: pointer;
    .heart {
      color: red;
      padding-right: .3em;
    }
  }
}

.heart {
  transition: .6s;
  color: #fdc521;
  padding-right: .3em;
}

.favourites {
  border: 1px solid #ff5940;
  transition: .6s;
  margin: .6em;
  color: #fdc521;
  text-decoration: none;
  padding: .3em;

  &:hover {
    border: 1px solid #fdc521;
  }
}


.favQuotesSection {
  margin: 0 auto;
  width: 90vw;

  .favQuotesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
  }

}

.favQuoteHeading {
  text-align: center;
  margin: 1em 0;
  color: #fdc521;
}

.favQuotesList {
  margin: 2em 0;
}

.favQuote {
  width: 80%;
  max-width: 600px;
  background: white;
  border-radius: 5px;
  text-align: center;
  padding: 2em;
  padding-bottom: 3em;

  color: #524d4c;
  position: relative;
  opacity: 0;
  margin: .5em 0;
  animation: show 1s forwards;

  .author {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .btns {
    padding: .5em;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  button {
    margin: 0 .3em;
    padding: .3em;
    background: white;
    border: 1px solid #ff5940;
    color: #413d3c;

    &:hover {
      cursor: pointer;
    }
  }
}



@keyframes show {
  0%{
    opacity: 0;
    transform: translate(0, -30%);
  }
  100%{
    opacity: 1;
    transform: translate(0)
  }
}

.empty {
  text-align: center;
  padding: 2em;
  color: #fdc521;
}


.back {

  text-decoration: none;
  transition: .6s;
  margin: .6em;
  color: #fdc521;
  text-decoration: none;
  padding: .3em;
  display: block;
  margin: 1em;

  i {
    margin-right: .3em;
  }

}
